.about-hero {
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(white);
    background:url(assets/chris-ried-ieic5Tq8YMk-unsplash.jpg) center no-repeat ; 
}

.about-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.85);
}

.about-hero-content {
     position: relative;
    z-index: 2;
    max-width: 850px;
    padding: 0 20px;
}
.about {
     background: var(--dark);
    padding: 80px 10%;
    text-align: center;
    color: white;
}

.about-container {
    display: block;
    max-width: 100%;
    margin-top: -80px;
    justify-content: left;

}

.info-about {
    
}